body
{
    background-color:			black;
    color:				grey;
    font-family:			courier;
    font-size:				14px;
    text-align:				center;
}

#corpus
{
    margin:				auto;
    text-align:				justify;
    width:				640px;
}

pre
{
    display:				inline;
}

#footer, #menu
{
    font-size:				12px;
    text-align:				right;
    color:				grey;
    font-weight:			bold;
    font-family:			courier;
}

a
{
    color:				inherit;
    text-decoration:			none;
}

a:hover
{
    color:				white;
}

.primary
{
    color:				white;
}

.title
{
    color:				lightgreen;
}

.secondary
{
    color:				#101010;
}

.code
{
    color:				lightgreen;
    background-color:			#101010;
}
